@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps');
    body{
      background-image: url("http://www.homedepot.com/catalog/productImages/1000/d4/d4df95b3-f32d-425b-b7a7-c30c9d5e7511_1000.jpg");
    }
    h1 {
      font-family: 'Bilbo Swash Caps', cursive;
	    text-align: center;
	    font-size: 70px;
	    font-weight: bold;
    }
    
    #myImage{
     text-align:center; 
    }
    
     #image{
      width: 500px; 
    }
    
    #choices{
    width:100%;
    text-align: center;
    }
    .mychoice{
    display: inline-block;
    }
    .msgBtn{
      background-color: white;
      color: black;
      border: 2px solid black;
      font-family: 'Bilbo Swash Caps', cursive;
      font-size: 30px;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 30px;
      cursor: pointer;
      transition-duration: 0.4s;
    }
    .msgBtn:hover {
    background-color: #052462;
    color: white;
}
